In [6]:
from sqlalchemy import create_engine
import pandas as pd

In [4]:
rds_connection_string = "postgres:secu:0502@localhost:5432/etl_project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [7]:
pd.read_sql_query('select * from gdp', con=engine).head()

,id,county,state,county_state,gdp_2018,gdp_2017,gdp_2016,gdp_2015,gdp_2014,gdp_2013,gdp_2012,gdp_2011,gdp_2010,gdp_2009,gdp_2008
0,0,Autauga,AL,"Autauga, AL",6.9,-4.8,0.6,10.4,3.0,-2.0,13.1,10.4,6.3,7.5,-8.1
1,1,Baldwin,AL,"Baldwin, AL",6.9,2.2,5.0,6.1,3.1,4.9,5.3,2.3,3.9,-3.6,-3.7
2,2,Barbour,AL,"Barbour, AL",7.4,2.6,-1.5,2.5,-3.9,9.6,-1.1,-2.5,3.0,1.1,-4.3
3,3,Bibb,AL,"Bibb, AL",5.9,1.1,1.7,-0.9,0.9,4.0,0.8,3.4,8.7,-1.7,2.4
4,4,Blount,AL,"Blount, AL",6.3,5.8,-3.7,2.0,-0.4,6.6,5.1,-1.1,0.2,-1.2,1.0

In [ ]:
pd.read_sql_query('select * from gdp', con=engine).head()